$font-base: 'Khand';

$font-xs: 18px;
$font-small: 22px;
$font-signature: 26px;
$font-topic: 30px;
$font-mid: 60px;
$font-h90: 90px;
$font-large: 120px;

html, * {
    font-family: $font-base, sans-serif;
}

.font-bold {
    font-weight: 700;
}
