$white: #fff;
$lightgray-left: #f9fafc;
$lightgray-middle: #edeeef;
$lightgray-right: #e0e1e2;
$darkgreen: #95c12b;
$green: #d2f288;
$lightgreen: #effccf;
$brownie-gray: #434242;
$gray: #b2b3b3;
$beige: #dfedc0;
$temporary-color: #906090;
