.header {
    &__background {
        &--darkgreen {
            background-color: $darkgreen;
        }
        &--white {
            background-color: $white;
        }
    }
    &__logo {
        @extend %container;
        padding: 60px 0;
        &--image {
            width: 60%;
        }
    }
    &__content {
        &--center {
            color: $lightgray-left;
            font-size: $font-topic;
            line-height: 50px;
            text-align: center;
        }
        &--medium {
            color: $brownie-gray;
            font-size: $font-mid;
            line-height: 100px;
            text-align: center;
        }
        &--height-90 {
            color: $brownie-gray;
            font-size: $font-h90;
            line-height: 100px;
            text-align: center;
        }
        &--large {
            color: $brownie-gray;
            font-size: $font-large;
            line-height: 160px;
            text-align: center;
        }
    }
}
