.icon {
    border-left: 5px solid $brownie-gray;
    border-bottom: 5px solid $brownie-gray;
    //display: none;
    height: 15px;
    position: absolute;
    transform: rotate(-45deg) skewX(-15deg);
    width: 25px;
}
