.image {
    &__container {
        @extend %container;
        padding: 30px 0;
    }

    &__background {
        background: $lightgray-middle url("./../images/_page_3_1.png") center center no-repeat;
        background-size: contain;
        height: 100%;
    }
}
