.padding {
    &__external {
        padding: 0 25px;
        &--top {
            padding-top: 20px;
        }
        &--bottom {
            padding-bottom: 20px;
        }
    }


    &__internal {
        &--2-left {
            padding-left: 3px;
        }
        &--2-right {
            padding-right: 2px;
        }
        &--4-top {
            padding-top: 4px;
        }
        &--10-top {
            padding-top: 10px;
        }
    }
}
