%border {
    border: 3px solid;
    border-style: outset;
}

.picture-placeholder {
    background-color: $lightgray-middle;
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    &__content {
        @extend %container;
        &--200 {
            height: 200px;
        }
        &--240 {
            height: 240px;
        }
        &--300 {
            height: 300px;
        }
        &--600 {
            height: 600px;
        }
        &--700 {
            height: 700px;
        }
        &--800 {
            height: 800px;
        }
    }

    &__circle {
        border: 5px solid $gray;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

    &__rectangle {
        height: 100%;
        width: 100%;
    }

    &__color-rectangle {

        &--black {
            background-color: #282B2E;
            border-color: #282B2E;
            @extend %border;
            width: 65%;
            height: 100px;
        }
        &--yellow {
            background-color: #FBE22B;
            border-color: #FBE22B;
            @extend %border;
            width: 65%;
            height: 100px;
        }
        &--colorful {
            background: linear-gradient(-60deg, yellow, green, blue, purple, red);
            border-color: $lightgray-right;
            @extend %border;
            width: 65%;
            height: 100px;
            position: absolute;
            top: 50px;
            left: calc(0.5 * (330px - 215px));
        }
    }

    &__picture {
        &--pole-base {
            background: $lightgray-left url("./../images/_closed_door.png") -5% 102% no-repeat;
        }

        &--pole-top {
            background: $lightgray-left url("./../images/_standard_panel.png") 0% 2% no-repeat;
        }

        &--gate-concentration {
            background: $lightgray-left url("./../images/_closed_door.png") 0% 5% no-repeat;
        }

        &--lock {
            background: $lightgray-left url("./../images/_closed_door.png") 0% 57% no-repeat;
        }

        &--straight-grid-panel {
            background: url("./../images/_standard_panel.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--arched-grid-panel {
            background: url("./../images/_arched_panel.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--grid-full-panel {
            background: url("./../images/_grid_full_panel.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--full-panel {
            background: url("./../images/_full_panel.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--two-wing-gate {
            background: url("./../images/_two_wing_gate.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--single-wing-gate {
            background: url("./../images/_single_wing_gate.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--hinged-two-wing-gate {
            background: url("./../images/_hinged_two_wing_gate.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--hinged-single-wing-gate {
            background: url("./../images/_hinged_single_wing_gate.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--buffer-broken-pipe {
            background: url("./../images/_buffer_broken_pipe.png") center center no-repeat;
            background-size: contain;
            height: 60%;
        }

        &--buffer-straight-pipe {
            background: url("./../images/_buffer_straight_pipe.png") center center no-repeat;
            background-size: contain;
            height: 40%;
        }

        &--corner-buffer {
            background: url("./../images/_corner_buffer.png") center center no-repeat;
            background-size: contain;
            height: 50%;
        }

        &--forklift-buffer {
            background: url("./../images/_forklift_buffer.png") center center no-repeat;
            background-size: contain;
            height: 50%;
        }

        &--pallet-buffer {
            background: url("./../images/_pallet_buffer.png") center center no-repeat;
            background-size: contain;
            height: 50%;
        }

        &--reinforced-base {
            background: url("./../images/_reinforced_base.png") 80% center no-repeat;
            background-size: contain;
            height: 60%;
        }

        &--safe-project {
            background: url("./../images/_safe_project.png") center center no-repeat;
            background-size: contain;
            height: 80%;
        }

        &--fence-straight {
            background: url("./../images/_fence_straight.png") center center no-repeat;
            background-size: contain;
            height: 100%;
        }

        &--fence-broken {
            background: url("./../images/_fence_broken.png") 80% center no-repeat;
            background-size: contain;
            height: 95%;
        }

        &--module-height {
            background: url("./../images/_module_height.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--module-width {
            background: url("./../images/_module_width.png") center center no-repeat;
            background-size: contain;
            height: 90%;
        }

        &--title {
            background: url("./../images/_title.png") center center no-repeat;
            background-size: contain;
            height: 60%;
        }

        &--footer {
            background: $white url("./../images/_footer.JPG") center center no-repeat;
            background-size: contain;
            height: 100%;
        }
    }

    &__signature {
        background-color: $lightgray-right;
        color: $brownie-gray;
        font-size: $font-small;
        line-height: 40px;
        text-align: center;

        &--bold {
            font-weight: 700;
        }
    }
}

.picture-top-layer {
    background: $white transparent;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;

}
