* {
	box-sizing: border-box;
}

.col-0-xs {display: none}
.col-1-xs {width: 8.33%;}
.col-2-xs {width: 16.66%;}
.col-3-xs {width: 25%;}
.col-4-xs {width: 33.33%;}
.col-5-xs {width: 41.66%;}
.col-6-xs {width: 50%;}
.col-7-xs {width: 58.33%;}
.col-8-xs {width: 66.66%;}
.col-9-xs {width: 75%;}
.col-10-xs {width: 83.33%;}
.col-11-xs {width: 91.66%;}
.col-12-xs {width: 100%;}

[class^="col-"] {
    display: flex;
    flex-flow: column nowrap;
}

%container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &--stretch {
        align-items: stretch;
    }
}

.container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 1050px;

    &__background {
        /*background-color: $temporary-color;*/
        background: linear-gradient(to right, $lightgray-left, $lightgray-right);
    }
}
