$table-small-grid: 15;
$table-small-border: 2px solid rgba(black, 0);

.table-small {
    table-layout: fixed; /*fixed - stały, table-layout po to, by szer kolumn były ustalone na sztywno, bez względu na długość tekstu*/
    width: 100%;

    & tr {
        border-top: $table-small-border;
    }

    & td,th {
        height: 32px;
        text-align: center;

        &:not(:last-of-type) {
            border-right: $table-small-border;
        }
    }

    &__content {
        background-color: $lightgray-left;
        font-size: $font-xs;
        height: 100%;
        padding: 6.5px;

        &--left {
            text-align: left;
        }

        &--green {
            background-color: $green;
        }

        &--lightgreen {
            background-color: $lightgreen;
        }
    }

    &__container {
        width: 100%;
    }

    @for $i from 1 through $table-small-grid {
        &__col-#{$i}-xs {
            width: ($i / $table-small-grid) * 100%;
        }
    }
}
