$table-grid: 12;
$table-border: 3px solid rgba(black, 0);

.table {
    table-layout: fixed; /*fixed - stały, table-layout po to, by szer kolumn były ustalone na sztywno, bez względu na długość tekstu*/
    width: 100%;

    tfoot {
        & td {
            text-align: center;
        }
    }

    & td,th {
        border-top: $table-border;
        height: 40px;

        &:not(:last-of-type) {
            border-right: $table-border;
        }

        &:first-of-type {
            border-right: $table-border;
        }
    }

    &__content {
        background-color: $lightgray-left;
        font-size: $font-small;
        height: 100%;
        padding: 10px;

        &--icon {
            display: flex;
            justify-content: center;
            position: relative;
        }

        &--right {
            text-align: right;
        }

        &--green {
            background-color: $green;
        }

        &--lightgreen {
            background-color: $lightgreen;
        }
    }

    &__container {
        width: 100%;
    }

    @for $i from 1 through $table-grid {
        &__col-#{$i}-xs {
            width: ($i / $table-grid) * 100%;
        }
    }
}
