.text-placeholder {
    display: flex;
    flex-flow: column nowrap;

    &__background {
        &--lightgreen {
            background-color: $lightgreen;
        }
        &--green {
            background-color: $green;
        }
    }

    &__content {
        color: $brownie-gray;
        font-size: $font-small;
        line-height: 36px;
        padding: 10px;
        &--justify {
            text-align: justify;
        }
        &--center {
            text-align: center;
        }
        &--indent {
            text-indent: 40px;
        }
        &--description {
            font-size: $font-xs;
            position: absolute;
            bottom: 15px;
            left: 15px;
            right: 15px;
            line-height: 25px;
            text-align: center;
        }
        &--margin {
            margin-bottom: 20px;
        }
    }
}
